{% extends 'home/index.html' %}
{% load static %}

<!-- NOTE: This page "extends", home_authed is "included" -->
<!-- Change back the "return line" in views.home to home_authed.html if needed -->

{% block content %}

Just GSheet

<br>
add validations to view-only and edit-mode based on user's status <br>
if-else views, perhaps
<iframe width="100%" height="800px" src="https://docs.google.com/spreadsheets/d/0B-THzOwfTWWSMEdXdkhQUTJZSlE/edit?usp=sharing&ouid=116138760479964019416&resourcekey=0--UXocsxSH1EyU5dWuGdF1g&rtpof=true&sd=true?widget=true&amp;headers=false"></iframe>

{% endblock content %}