{% extends 'home/index.html' %}
{% load static %}

<!-- NOTE: This page "extends", home_authed is "included" -->
<!-- Change back the "return line" in views.home to home_authed.html if needed -->

{% block content %}
Will probably separate the sheets here (if multiple files will be displayed) by tabs. <br>
Sign-in with a Google account that has permissions to edit sheet. <br>


<!-- bocauebyteppy file -->
<!-- get the share link and then replace src part with that link then add "?widget=true&amp;headers=false" -->
<!-- add dimensions as needed -->
<iframe width="100%" height="1000px" src="https://docs.google.com/spreadsheets/d/1bQj8XPMQYlP-5xJPTWdf3yyxLehXU_kq/edit?usp=sharing&ouid=101213569485981432969&rtpof=true&sd=true?widget=true&amp;headers=false"></iframe>

{% endblock content %}