{% extends 'auth/base.html' %}
{% load static %}


{% block form %}
<div class="row">
	<!-- 1st -->
	<div class="col-lg-6 col-md-5 col-sm-12">
		<div class="card">
			<div class="card-header">
				<h3>Sign In</h3>
				<div class="d-flex justify-content-end social_icon">
					<h6>Quick sign-up & log-in:</h6> 
						<!-- create an a-tag to cover social_icon -->
						<!-- <span><i class="fab fa-facebook-square"></i></span> -->
					<a title="Google" class="socialaccount_provider google text-danger" href="/accounts/google/login/?process=login">
						<span><i class="fa fa-google"></i></span>
					</a>
					<!-- <a title="Facebook" class="socialaccount_provider facebook text-danger" href="#">
						<span><i class="fa fa-facebook-square"></i></span>
					</a> -->

						<!-- create an a-tag to cover social_icon -->
						<!-- <span><i class="fab fa-twitter-square"></i></span> -->
				</div>
			</div>
			<div class="card-body">
				<form method="POST">
					{% csrf_token %}
				    <div class="card-body">
				      <fieldset class="form-group">
						<div id="div_id_username" class="input-group form-group">
						    <div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
						    <input type="text" name="username" autofocus class="textinput textInput form-control" required id="id_username">
						</div>
				    	<div id="div_id_password" class="input-group form-group">
				    		<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="password" class="textinput textInput form-control" required id="id_password">
				    	</div>
				      </fieldset>
				      <button type="submit" class="btn float-right login_btn mt-4">Submit</button>
				      <small class="text-danger float-left mt-5">
				        <!-- <a class="ml-2 mr-2" href="/register/"> Register</a> | |  -->
				        <a class="ml-2" href="/password-reset/">Forgot password?</a>
				      </small>
				    </div>
				  </form>
			</div>
		</div>
	</div>
	{% endblock form %}
	<!-- 2nd -->
</div>
</div
